version: '3'
services:
  # web:
  #   command: yarn workspace @certificates/web dev
  #   volumes:
  #     - ./packages/frontend/web:/usr/src/app/packages/frontend/web
  #     - /usr/src/app/packages/frontend/web/node_modules
  gateway:
    command: yarn workspace @certificates/gateway dev
    volumes:
      - ./packages/backend/gateway:/usr/src/app/packages/backend/gateway
  event:
    command: yarn workspace @certificates/event dev
    volumes:
      - ./packages/backend/event:/usr/src/app/packages/backend/event
  generic:
    command: yarn workspace @certificates/generic dev
    volumes:
      - ./packages/backend/generic:/usr/src/app/packages/backend/generic
  activity:
    command: yarn workspace @certificates/activity dev
    volumes:
      - ./packages/backend/activity:/usr/src/app/packages/backend/activity
  certificate:
    command: yarn workspace @certificates/certificate dev
    volumes:
      - ./packages/backend/certificate:/usr/src/app/packages/backend/certificate
  token:
    command: yarn workspace @certificates/token dev
    volumes:
      - ./packages/backend/token:/usr/src/app/packages/backend/token
  mailer:
    command: yarn workspace @certificates/mailer dev
    volumes:
      - ./packages/backend/mailer:/usr/src/app/packages/backend/mailer
  permission:
    command: yarn workspace @certificates/permission dev
    volumes:
      - ./packages/backend/permission:/usr/src/app/packages/backend/permission
  storage:
    command: yarn workspace @certificates/storage dev
    volumes:
      - ./packages/backend/storage:/usr/src/app/packages/backend/storage
  user:
    command: yarn workspace @certificates/user dev
    volumes:
      - ./packages/backend/user:/usr/src/app/packages/backend/user
