version: '3'
services:
  web:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.web
    hostname: web
    env_file:
      - .env
    ports:
      - "${WEB_PORT}:3000"
    networks:
      - frontend

  gateway:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.gateway
    hostname: gateway
    env_file:
      - .env
    ports:
      - "${API_GATEWAY_PORT}:3001"
    networks:
      - backend
      - frontend

  event:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.event
    hostname: event
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - backend

  generic:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.generic
    hostname: generic
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - backend

  activity:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.activity
    hostname: activity
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - backend

  certificate:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.certificate
    hostname: certificate
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - backend

  token:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.token
    hostname: token
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - backend

  mailer:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.mailer
    hostname: mailer
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - backend

  permission:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.permission
    hostname: permission
    env_file:
      - .env
    networks:
      - backend

  storage:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.storage
    hostname: storage
    env_file:
      - .env
    networks:
      - backend

  user:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.user
    hostname: user
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - backend

  db:
    image: mongo:6
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGO_DATABASE}
    command: mongod --bind_ip_all --port ${MONGO_PORT}
    volumes:
      - './docker/db:/data/db'
    ports:
      - "${HOST_MONGO_PORT}:${MONGO_PORT}"
    networks:
      - backend
    restart: always

  gui-db:
    image: mongo-express
    restart: always
    ports:
      - "${MONGO_GUI_PORT}:8081"
    environment:
      - ME_CONFIG_BASICAUTH_USERNAME=${MONGO_GUI_USER}
      - ME_CONFIG_BASICAUTH_PASSWORD=${MONGO_GUI_PASSWORD}
      - ME_CONFIG_MONGODB_ENABLE_ADMIN=false
      - ME_CONFIG_MONGODB_SERVER=${MONGO_HOST}
      - ME_CONFIG_MONGODB_PORT=${MONGO_PORT}
      - ME_CONFIG_MONGODB_AUTH_DATABASE=${MONGO_DATABASE}
      - ME_CONFIG_MONGODB_AUTH_USERNAME=${MONGO_USER}
      - ME_CONFIG_MONGODB_AUTH_PASSWORD=${MONGO_PASSWORD}
    depends_on:
      - db
    networks:
      - backend
      - frontend

networks:
  backend:
    driver: bridge
  frontend:
    driver: bridge
