version: '3'
services:
  web:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.web
    hostname: web
    env_file:
      - .env
    ports:
      - '${WEB_PORT}:${WEB_PORT}'
    networks:
      - frontend
  gateway:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.gateway
    hostname: gateway
    env_file:
      - .env
    ports:
      - '${API_GATEWAY_PORT}:${API_GATEWAY_PORT}'
    networks:
      - backend
      - frontend
  event:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.event
    hostname: event
    env_file:
      - .env
    links:
      - db
    networks:
      - backend
  generic:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.generic
    hostname: generic
    env_file:
      - .env
    links:
      - db
    networks:
      - backend
  activity:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.activity
    hostname: activity
    env_file:
      - .env
    links:
      - db
    networks:
      - backend
  certificate:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.certificate
    hostname: certificate
    env_file:
      - .env
    links:
      - db
    networks:
      - backend
  token:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.token
    hostname: token
    env_file:
      - .env
    links:
      - db
    networks:
      - backend
  mailer:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.mailer
    hostname: mailer
    env_file:
      - .env
    links:
      - db
    networks:
      - backend
  permission:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.permission
    hostname: permission
    env_file:
      - .env
    networks:
      - backend
  storage:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.storage
    hostname: storage
    env_file:
      - .env
    networks:
      - backend
  user:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.user
    hostname: user
    env_file:
      - .env
    networks:
      - backend
  fix-db-permissions:
    image: 'bitnami/mongodb:latest'
    user: root
    command: 'chown -R 1001:1001 /bitnami/mongodb'
    volumes:
      - './docker/db:/bitnami/mongodb'
  db:
    image: 'bitnami/mongodb:latest'
    environment:
      - 'MONGODB_USERNAME=${MONGO_USER}'
      - 'MONGODB_PASSWORD=${MONGO_PASSWORD}'
      - 'MONGODB_DATABASE=${MONGO_DATABASE}'
      - 'MONGODB_ROOT_PASSWORD=${MONGODB_ROOT_PASSWORD}'
    volumes:
      - './docker/db:/bitnami/mongodb'
    ports:
      - '${MONGO_PORT}:27017'
    depends_on:
      - fix-db-permissions
    networks:
      - backend
    restart: always
  gui-db:
    image: mongo-express
    restart: always
    ports:
      - '${MONGO_GUI_PORT}:8081'
    environment:
      - 'ME_CONFIG_BASICAUTH_USERNAME=${MONGO_GUI_USER}'
      - 'ME_CONFIG_BASICAUTH_PASSWORD=${MONGO_GUI_PASSWORD}'
      - ME_CONFIG_MONGODB_ENABLE_ADMIN=false
      - 'ME_CONFIG_MONGODB_SERVER=${MONGO_HOST}'
      - 'ME_CONFIG_MONGODB_PORT=${MONGO_PORT}'
      - 'ME_CONFIG_MONGODB_AUTH_DATABASE=${MONGO_DATABASE}'
      - 'ME_CONFIG_MONGODB_AUTH_USERNAME=${MONGO_USER}'
      - 'ME_CONFIG_MONGODB_AUTH_PASSWORD=${MONGO_PASSWORD}'
    links:
      - db
    networks:
      - backend
      - frontend
networks:
  backend:
    driver: bridge
  frontend:
    driver: bridge
