name: Deploy Servidor IFBA

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: production

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Criar diretório SSH
        run: mkdir -p ~/.ssh

      - name: Adicionar chave SSH
        run: |
          echo "${{ secrets.SERVER_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Testar conexão SSH
        run: |
          ssh -p ${{ secrets.SERVER_SSH_PORT }} \
              -i ~/.ssh/id_rsa \
              -o StrictHostKeyChecking=no \
              ${{ secrets.SERVER_SSH_USER }}@${{ secrets.SERVER_SSH_HOST }} \
              'echo ✅ Conexão SSH funcionando!'

      - name: Exibir variáveis (debug)
        run: |
          echo "------ VARIÁVEIS DO AMBIENTE ------"
          echo "DOMAIN: ${{ vars.DOMAIN }}"
          echo "WEB_URL: ${{ vars.WEB_URL }}"
          echo "API_URI: ${{ vars.API_URI }}"
          echo "WEB_PORT: ${{ vars.WEB_PORT }}"
          echo "MONGO_HOST: ${{ secrets.MONGO_HOST }}"
          echo "MONGO_USER: ${{ secrets.MONGO_USER }}"
          echo "HOST_MONGO_PORT: ${{ vars.HOST_MONGO_PORT }}"
          echo "HCAPTCHA_SITEKEY: ${{ vars.HCAPTCHA_SITEKEY }}"
          echo "-----------------------------------"

      - name: Criar arquivo remoto (teste)
        env:
          DOMAIN: ${{ vars.DOMAIN }}
          APP_SECRET: ${{ secrets.APP_SECRET }}
          MONGO_USER: ${{ secrets.MONGO_USER }}
          MONGO_DATABASE: ${{ secrets.MONGO_DATABASE }}
          MONGO_PASSWORD: ${{ secrets.MONGO_PASSWORD }}
        run: |
          ssh -p ${{ secrets.SERVER_SSH_PORT }} \
              -i ~/.ssh/id_rsa \
              -o StrictHostKeyChecking=no \
              ${{ secrets.SERVER_SSH_USER }}@${{ secrets.SERVER_SSH_HOST }} \
              "echo 'Deploy executado no domínio $DOMAIN usando banco $MONGO_DATABASE' > ~/deploy_log.txt"
