name: Teste

on:
  workflow_dispatch:

jobs:
  teste:
    runs-on: ubuntu-latest
    steps:
        - name: Create SSH directory
          run: mkdir -p ~/.ssh

        - name: Add SSH key
          run: |
            echo "${{ secrets.SERVER_SSH_KEY }}" > ~/.ssh/id_rsa
            chmod 600 ~/.ssh/id_rsa

        - name: Create file on remote server
          run: |
            ssh -p ${{ secrets.SERVER_SSH_PORT}} -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no ${{ secrets.SERVER_SSH_USER }}@${{ secrets.SERVER_SSH_HOST }} 'touch ~/teste.txt'
